<div class="flex justify-center mt-12">
  <div>
    <form (ngSubmit)="handleSubmit()">
      <div class="mb-4 flex">
        <select
          [value]="method"
          (input)="onMethodChange($event)"
          class="flex flex-grow-0 w-auto border-[1px] py-2 px-1 outline-0"
        >
          <option value="GET">GET</option>
          <option value="POST">POST</option>
          <option value="PUT">PUT</option>
          <option value="PATCH">PATCH</option>
          <option value="DELETE">DELETE</option>
        </select>

        <input
          [value]="url | async"
          (input)="onUrlChange($event)"
          type="text"
          class="w-[400px] pl-1 outline-0 border-[1px]"
          placeholder="http://example.com"
          required
        />

        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-600 px-5 text-white"
        >
          Send
        </button>
      </div>

      <div class="mt-12 mb-12">
        <ul class="flex gap-8">
          <li>
            <button
              [ngClass]="{
                'text-gray-600': activeParam === 'Query Params',
                'text-blue-600': activeParam !== 'Query Params'
              }"
              (click)="onActiveParamChange('Query Params')"
              type="button"
            >
              Query Params
            </button>
          </li>
          <li>
            <button
              [ngClass]="{
                'text-gray-600': activeParam === 'Headers',
                'text-blue-600': activeParam !== 'Headers'
              }"
              (click)="onActiveParamChange('Headers')"
              type="button"
            >
              Headers
            </button>
          </li>
          <li>
            <button
              [ngClass]="{
                'text-gray-600': activeParam === 'JSON',
                'text-blue-600': activeParam !== 'JSON'
              }"
              (click)="onActiveParamChange('JSON')"
              type="button"
            >
              JSON
            </button>
          </li>
        </ul>
      </div>

      <div *ngIf="activeParam === 'Query Params'">
        <app-parameters
          *ngFor="let param of params"
          [param]="param"
          [activeParam]="activeParam"
          [params]="params"
          [url]="url"
        ></app-parameters>
      </div>

      <div *ngIf="activeParam === 'Headers'">
        <app-parameters
          *ngFor="let header of headers"
          [param]="header"
          [activeParam]="activeParam"
          [headers]="headers"
          [url]="url"
        ></app-parameters>
      </div>

      <button
        *ngIf="activeParam !== 'JSON'"
        (click)="onAddClick()"
        type="button"
        class="mt-8 text-green-500 border-green-500 border-[1px] px-4 py-1 rounded font-semibold"
      >
        Add
      </button>
    </form>

    <div *ngIf="activeParam === 'JSON'">
      <ngx-monaco-editor
        class="h-40 w-[500px] block"
        [options]="editorOptions"
        [(ngModel)]="requestBody"
      ></ngx-monaco-editor>
    </div>

    <div *ngIf="data">
      <app-results
        [responseDetails]="responseDetails"
        [responseHeaders]="responseHeaders"
        [data]="data"
      ></app-results>
    </div>
  </div>
</div>
